<p>
  <b>Nombre:</b>
  <%= @prioridad.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @prioridad.descripcion %>
</p>


<%= link_to 'Editar', edit_prioridad_path(@prioridad) %> |
<%= link_to 'Volver', prioridads_path %>
