<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tipo_de_documento_agente.nombre %>
</p>


<%= link_to 'Edit', edit_tipo_de_documento_agente_path(@tipo_de_documento_agente) %> |
<%= link_to 'Back', tipo_de_documento_agentes_path %>
